body  {
    background-image: url("https://png.pngtree.com/png-clipart/20190515/original/pngtree-bule-border-png-image_3551748.jpg");
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-attachment: fixed;
    background-position: center;
  }